# Python & Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
/media/
/staticfiles/
.env
venv/
env/
ENV/
*.log

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local
.DS_Store

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
